.roadmap-wrapper {
    width: 80%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.tech-item-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
}

.tech-icon-wrapper {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius : 8px;
    justify-content: center;
    align-items: center;
}
.tech-icon {
    width: 32px;
    height: 32px;
    margin: 2px;
}


.tech-title {
    margin: 8px 0px;
    text-align: left;
    padding: 0px 10px;
}

.progress-icon {
    align-self: center;
    width: 16px;
    height: 16px;
    padding: 0 5px;
}


@media screen and (max-width: 489px) {
    .tech-item-wrapper {
        padding: 10px 0px 10px 10px;

    }
    
    .tech-icon-wrapper {
        width: 32px;
        height: 32px;
        
    }

    .tech-icon {
        width: 24px;
        height: 24px;
    }

    .tech-title {
        font-size: small;
        padding: 0px 5px 0px 10px;
    }
  }