.navbar>.active {
  color: rgba( 255, 255, 255, .6);
  background-color: rgba( 0, 0, 0, .8);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFF;
  z-index: 1
}

.nav-button {
  cursor: pointer;
}

.nav-title {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 393px) {
  .nav-button {
    padding: 12px !important;
    height: 40px;
  }

  .sticky {
    height: 42px;
  }
}

@media screen and (max-width: 352px) {
  .nav-button {
    padding: 8px !important;
  }
}